/ Footer
%footer.en
  %p.credits
    \©COPYRIGHT KIMIA KARAN.
    = link_to 'DEVELOPED', url_with_protocol('raush.net')    
    by
    = link_to 'RAUSH', url_with_protocol('raush.net')    
/ End Footer
