/ Footer
%footer
  %p.credits
    \©2013 Brushed.
    %a{href: "http://themes.alessioatzeni.com/html/brushed/", title: "Brushed | Responsive One Page Template"} Brushed Template
    by
    %a{href: "http://www.alessioatzeni.com/", title: "Alessio Atzeni | Web Designer & Front-end Developer"} Alessio Atzeni
/ End Footer
/ Back To Top
%a#back-to-top{href: "#"}
  %i.font-icon-arrow-simple-up
/ End Back to Top
