%ul#menu-nav
  %li.current
    = link_to t('home'), '#home-slider'
    
  %li
    = link_to t('work'), '#work'
    
  %li
    = link_to t('about'), '#about'
    
  %li 
    = link_to t('contact'), '#contact'
    
  %li
    %a.external{href: "shortcodes.html"} Shortcodes
