/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.clear-float {clear:both}

.en {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; direction:ltr}
.fa {font-family:  'open_sansregular'; direction:rtl}

.row.en [class*="span"] {float:left}
.row.fa [class*="span"] {float:right}
.contact-submit.fa .submit {font-family:  'open_sansregular'; direction:rtl}
.contact-submit.en .submit {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; direction:ltr}

.other-page {min-height:300px; padding:5%; background:#B0D6BA; color:#000;}

ul#other-page-menu {display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;}
ul#other-page-menu li {list-style: none;
display: inline-block;
margin-left: 50px; }
ul#other-page-menu li a {color:#fff;}
ul#other-page-menu li.active a, ul#other-page-menu  li:hover a{color:#FFEC00;}
.admin_menu {
  z-index:1000;
  margin-left:10px;
  top:0;  width:20%;
  float:left;
  overflow:hidden;  
  background:#4A7D47; color:#FFEC00; height:35px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
.admin_menu h3 {text-align:center
}
.admin_menu:hover { height:230px; cursor:pointer}
.admin_menu ul{list-style-type:circle; text-align:right; padding-right:35px; }
.admin_menu ul li a{color:#FFEC00;}
.admin_menu ul li a:hover{color:#000;}

span.Necessary {color:#DE5E60;}
.container {position:absolute; width:100%; padding:4%;}
.contact-bg {background-image:url(image-path('image01.jpg'));
  background-size:cover; height:130%}
.order-bg {background:#CBE3CB;
  background-size:cover; height:130%}
.work-bg {background-image:url(image-path('image03.jpg'));
  background-size:cover; min-height:150%}
.contact-bg:before, .work-bg:before{
    content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;    
		background-image: radial-gradient(circle, #A4BAA5, #65806B,#CCF7D8);
		opacity: .65; 

}
.admin-link a.item-links{ color:red; font-size:14px; float:right; width:50px; position:relative; z-index:20}
.admin-link a.item-links:hover{ color:#FFF; }



.project-pic {width:85%; float:left}
.project-pic span.pro-title{width:100%; position:absolute; background:#4D4D4D; opacity:.7; color:#fff;
  right:0; bottom:0;
}
.project-list {width:15%; float:right}


ul.option-set li:hover a {color:#FFA500}
ul.option-set li a.selected {text-shadow: 2px 2px #034D14;}

.show-license {float:left; width:20%; margin:2%; }

/* show products details  with ajax */
#show-details{width:80%; 
  height:150%; 
  z-index:100; 
  left:1%; 
  position:absolute; 
  background:#1A1A1A; opacity:.7; display:none; border-radius:5px; color:#FBFBA8;
  padding:1%;
}
#show-details .pro-text {width:60%; overflow:hidden; height:100%; line-height:1.5em; text-align:justify}
#show-details .pro-text h1, h2, h3, h4{color:#FFA500;}
#show-details .pro-text:hover {width:60%; overflow-y:scroll}
#show-details .pro-pic { width:25%; margin-right:2% }
.fancybox-title h4 {color:#F6F6A8;}
