/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.clear-float {clear:both}
ul.menu {list-style:none; width:70%; float:right}
ul.menu li{display:inline}

ul.admin {width:20%; float:right}
span.Necessary {color:#DE5E60;}
.container {position:absolute; left:13%}
.contact-bg {background-image:url('image01.jpg');
  background-size:cover; height:130%}
.work-bg {background-image:url('image03.jpg');
  background-size:cover; height:100%}
.contact-bg:before, .work-bg:before {
    content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;    
		background-image: radial-gradient(circle, #A4BAA5, #65806B,#CCF7D8);
		opacity: .65; 

}
