$('.project-pic').fadeOut();
$('#show-details').show(100);
$('#show-details').replaceWith("#{escape_javascript(render(:partial => 'show_product_details', :locals => {:product => @product}))}");

$('#show-details').show(100);
